.login-page {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  background-color: white;
  padding: 50px;
  background-color: #f9fafc;
  background: linear-gradient(180deg, #706fd6 0%, #a53de7 100%);
  border-radius: 5px;
}
.login-page > header > div {
  text-align: center;
  color: white;
  font-size: 2rem;
}
::deep .form {
  margin-top: 60px;
}
::deep .form > .grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 70px;
}
::deep .form > .grid > .columne-one {
  position: relative;
}
::deep .form > .grid > .columne-one > svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
  height: 100%;
  width: 30%;
  margin-left: 15%;
}
::deep .form > .grid > .columne-one > svg path {
  fill: white;
}
::deep .form > .grid > .columne-one > label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
::deep .form > .grid > .column-two {
  position: relative;
}
::deep .form > .grid > .column-two > input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  outline: none;
  border: none;
  color: white;
  font-size: 2rem;
}
::deep .form > .grid > .column-two > input:focus + span {
  /*&::after
                {
                    content: 'this is a test';
                    position: absolute;
                    color: red;
                    background-color: transparent;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    pointer-events: none;

                    display:flex;
                    //align-content:center;
                    align-items:center;
                    //align-self:center;
                    //justify-content:center;
                }*/
  /*
                position: absolute;
                color: red;
                background-color: transparent;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                pointer-events: none;
                display: flex;*/
  font-size: 10pt;
  top: -42px;
  transition: all 0.2s ease;
}
::deep .form > .grid > .column-two > input:not(:focus):valid + span {
  font-size: 10pt;
  top: -42px;
  transition: all 0.2s ease;
}
::deep .form > .grid > .column-two > input:not(:focus):not(:valid) + span {
  font-size: 12pt;
  top: 0;
  transition: all 0.2s ease;
}
::deep .form > .grid > .column-two > span {
  position: absolute;
  left: 3px;
  right: 0;
  bottom: 0;
  color: #e3c9ff;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  align-items: center;
  z-index: 3;
}
::deep .form > .grid > .column-two > div.selected-border {
  position: absolute;
  left: -50px;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
::deep .form > .grid > .column-two > input:not(:focus) ~ .selected-border {
  background-color: transparent;
}
::deep .form > .grid > .column-two > input:focus ~ .selected-border {
  background-color: rgba(255, 255, 255, 0.1);
}
::deep .form > .submit-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
::deep .form > .submit-container > button {
  max-width: 100px;
  border-radius: 10px;
  background-color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
}
::deep .form > .submit-container > button:hover {
  background-color: ghostwhite;
}
::deep .form > .submit-container > button:active {
  background-color: floralwhite;
}