@using RlssCandidateDetails.Client.Classes.RenderFragments;
@page "/"


<PageTitle>Index</PageTitle>

<MainLayoutFragments>
	<HeaderTitle>
		<div>Home</div>
	</HeaderTitle>
</MainLayoutFragments>

<section id="home-menu">
	<button @onclick="cmdCandidateMenu_Click">
		<span>
			Candidates
		</span>

	</button>
</section>

@code
{
	public void cmdCandidateMenu_Click()
	{
		//TODO: navigate to candidates list page
	}
}

