@using Microsoft.AspNetCore.Authorization
@using RlssCandidateDetails.Client.Classes.RenderFragments;
@inject NavigationManager NavManager;

@page "/"
@attribute [Authorize(Roles ="Admin")]

<PageTitle>Index</PageTitle>

<MainLayoutFragments>
	<HeaderTitle>
		<div>Home</div>
	</HeaderTitle>
</MainLayoutFragments>

<section class="home-menu">
	<button @onclick="cmdCandidateMenu_Click">
		<span>
			Candidates
		</span>

	</button>
</section>

@code
{
	public void cmdCandidateMenu_Click()
	{
		//TODO: navigate to candidates list page
		NavManager.NavigateTo("/candidates");
	}
}

