.button-link {
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--anker-link-color);
  cursor: pointer;
}
.button-link:hover {
  color: var(--anker-link-color-hover);
  background-color: transparent;
}
.button-default {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  width: 100%;
  height: 50px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
}
.button-default:hover {
  background-color: var(--button-hover-background-color);
}
.button-default:active {
  background-color: var(--button-active-background-color);
}
.candidates-page {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-page-width);
}
.candidates-page .new-candidate-container {
  display: flex;
  justify-content: right;
}
.candidates-page .new-candidate-container > div > button {
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--anker-link-color);
  cursor: pointer;
  /*
				text-decoration: underline;
				background-color: transparent;
				outline: none;
				border: none;
				color: var(--anker-link-color);
				cursor: pointer;

				&:hover
				{
					color: var(--anker-link-color-hover);
				}*/
}
.candidates-page .new-candidate-container > div > button:hover {
  color: var(--anker-link-color-hover);
  background-color: transparent;
}
.candidates-page > .candidates-list-container > .filter-container > header > span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--page-subsection-font-header-color);
  text-align: center;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > input {
  border: none;
  border-radius: 5px;
  background-color: var(--input-background-color);
  color: var(--input-font-color);
  font-size: 1.5rem;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > input::placeholder {
  color: var(--input-placeholder-font-color);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > input.invalid {
  border: 1px solid red;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  width: 100%;
  height: 50px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  /*
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.5rem;
					color: var(--button-font-color);
					background-color: var(--button-background-color);
					width: 100%;
					height: 50px;
					cursor: pointer;
					user-select: none;
					border-radius: 20px;


					&:hover
					{
						background-color: var(--button-hover-background-color);
					}

					&:active
					{
						background-color: var(--button-active-background-color);
					}
					*/
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > button:hover {
  background-color: var(--button-hover-background-color);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > button:active {
  background-color: var(--button-active-background-color);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > .btn-reset-filter {
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--anker-link-color);
  cursor: pointer;
  grid-column: 1 / span 2;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > .btn-reset-filter:hover {
  color: var(--anker-link-color-hover);
  background-color: transparent;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container {
  margin-top: 30px;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > header > span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--page-subsection-font-header-color);
  text-align: center;
}