.button-link {
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--anker-link-color);
  cursor: pointer;
}
.button-link:hover {
  color: var(--anker-link-color-hover);
  background-color: transparent;
}
.button-default {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  width: 100%;
  height: 50px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  border: none;
}
.button-default:hover {
  background-color: var(--button-hover-background-color);
}
.button-default:active {
  background-color: var(--button-active-background-color);
}
.button-default:focus {
  outline: 1px solid var(--color-limegreen);
}
.input-default {
  border: none;
  border-radius: 5px;
  background-color: var(--input-background-color);
  color: var(--input-font-color);
  font-size: 1.5rem;
}
.input-default::placeholder {
  color: var(--input-placeholder-font-color);
}
.input-default:focus {
  outline: 1px solid var(--color-limegreen);
}
.input-default.invalid {
  border: 1px solid red;
}
.candidates-page {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-page-width);
}
.candidates-page .new-candidate-container {
  display: flex;
  justify-content: right;
}
.candidates-page .new-candidate-container > div > button {
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--anker-link-color);
  cursor: pointer;
  /*
				text-decoration: underline;
				background-color: transparent;
				outline: none;
				border: none;
				color: var(--anker-link-color);
				cursor: pointer;

				&:hover
				{
					color: var(--anker-link-color-hover);
				}*/
}
.candidates-page .new-candidate-container > div > button:hover {
  color: var(--anker-link-color-hover);
  background-color: transparent;
}
.candidates-page > .candidates-list-container > .filter-container > header > span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--page-subsection-font-header-color);
  text-align: center;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media only screen and (max-width: 600px) {
  .candidates-page > .candidates-list-container > .filter-container ::deep > form {
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;
  }
  .candidates-page > .candidates-list-container > .filter-container ::deep > form > .btn-reset-filter {
    grid-column: auto !important;
  }
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > input {
  border: none;
  border-radius: 5px;
  background-color: var(--input-background-color);
  color: var(--input-font-color);
  font-size: 1.5rem;
  /*
					border: none;
					border-radius: 5px;
					background-color: var(--input-background-color);
					color: var(--input-font-color);
					font-size: 1.5rem;

					&::placeholder
					{
						color: var(--input-placeholder-font-color);
					}*/
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > input::placeholder {
  color: var(--input-placeholder-font-color);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > input:focus {
  outline: 1px solid var(--color-limegreen);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > input.invalid {
  border: 1px solid red;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  width: 100%;
  height: 50px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  border: none;
  /*
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.5rem;
					color: var(--button-font-color);
					background-color: var(--button-background-color);
					width: 100%;
					height: 50px;
					cursor: pointer;
					user-select: none;
					border-radius: 20px;


					&:hover
					{
						background-color: var(--button-hover-background-color);
					}

					&:active
					{
						background-color: var(--button-active-background-color);
					}
					*/
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > button:hover {
  background-color: var(--button-hover-background-color);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > button:active {
  background-color: var(--button-active-background-color);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > button:focus {
  outline: 1px solid var(--color-limegreen);
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > .btn-reset-filter {
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--anker-link-color);
  cursor: pointer;
  grid-column: 1 / span 2;
}
.candidates-page > .candidates-list-container > .filter-container ::deep > form > .btn-reset-filter:hover {
  color: var(--anker-link-color-hover);
  background-color: transparent;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container {
  margin-top: 30px;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > header > span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--page-subsection-font-header-color);
  text-align: center;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr:nth-child(odd) {
  background-color: var(--color-lightgray);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td {
  font-size: 1.5rem;
  padding: 10px 20px;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell .show {
  display: grid;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell .hide {
  display: none;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.bin-container .bin {
  /*
										background-image: url('/images/svg/bin.svg');
										background-repeat: no-repeat;
										background-position-x: center;
										 */
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.bin-container .bin:focus {
  outline: 1px solid var(--color-limegreen);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.bin-container .bin svg {
  color: var(--button-background-color);
  width: 14px;
  height: 20px;
  fill-rule: evenodd;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.bin-container .bin:hover svg {
  color: var(--button-hover-background-color);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.bin-container .bin:active svg {
  color: var(--button-active-background-color);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container {
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .tick,
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .cross {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .tick:focus,
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .cross:focus {
  outline: 1px solid var(--color-limegreen);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .tick {
  display: flex;
  color: var(--color-lightgreen);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .tick:hover {
  color: var(--color-lightgreen-lighten);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .tick:active {
  color: var(--color-lightgreen-darken);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .tick svg {
  height: 20px;
  width: 40px;
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .cross {
  display: flex;
  color: var(--color-red);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .cross:hover {
  color: var(--color-red-lighten);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .cross:active {
  color: var(--color-red-darken);
}
.candidates-page > .candidates-list-container > .list-candidates-inner-container > div > table tbody tr td.delete-cell > div.tick-cross-container .cross svg {
  height: 20px;
  width: 40px;
}