@inherits LayoutComponentBase


<HeadContent>
    <link href="css/variables.css?@VersionNumber" rel="stylesheet" />
</HeadContent>

<div class="page">


    


    <main>
        
        <article>
            @Body
        </article>
        
    </main>
</div>

@code
{
    public string VersionNumber = "1.0.0.0";


    
}