.button-link {
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--anker-link-color);
  cursor: pointer;
}
.button-link:hover {
  color: var(--anker-link-color-hover);
}