
:root {
    // theme
    --color-purple: #3a3270;
    --color-purple-lighten: #37275e;
    --color-purple-darken: #1f1c3d;
    // Header colors
    --page-header-background-color: var(--color-purpule);
    // button colors
    --button-background-color: var(--color-purple);
    --button-hover-background-color: var(--color-purple-lighten);
    --button-active-background-color: var(--color-purple-darken);
    // font stuff
    --page-default-font-color: #ffffff;
    --page-default-font-size: 12pt;
}
