:root {
  --color-purple: #3a3270;
  --color-purple-lighten: #37275e;
  --color-purple-darken: #1f1c3d;
  --color-white: #ffffff;
  --color-lightblue: #7ca8f6;
  --color-lightblue-darken: #6e96db;
  --color-red: #e52421;
  --color-red-lighten: #ff2724;
  --color-red-darken: #cc1f1d;
  --color-lightgreen: #55D94D;
  --color-lightgreen-lighten: #5df255;
  --color-lightgreen-darken: #49bf43;
  --color-lightgray: #ededed;
  --color-lightgrey-darken: #c6c6c6;
  --color-black: black;
  --color-limegreen: #6eff00;
  --max-page-width: 1000px;
  --page-header-background-color: var(--color-purpule);
  --button-background-color: var(--color-purple);
  --button-hover-background-color: var(--color-purple-lighten);
  --button-active-background-color: var(--color-purple-darken);
  --button-font-color: var(--color-white);
  --page-default-font-color: var(--color-white);
  --page-default-font-size: 12pt;
  --page-subsection-font-header-color: var(--color-red);
  --anker-link-color: var(--color-lightblue);
  --anker-link-color-hover: var(--color-lightblue-darken);
  --input-background-color: var(--color-lightgray);
  --input-font-color: var(--color-black);
  --input-placeholder-font-color: var(--color-lightgrey-darken);
}